@use '../../../../styles/colors.scss' as colors;
@use '../../../../styles/utilities.scss' as global;

.container {
  display: flex;
  gap: 0.75rem;

  .social {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    border: 1px solid colors.$border;
    transition: background-color 0.2s ease;

    @include global.hover-focus-active {
      background-color: colors.$accent-soft;
    }
  }
}
