@use '../../../../styles/colors.scss' as colors;
@use '../../../../styles/utilities.scss' as global;

.container {
  display: flex;
  justify-content: center;
  gap: 2rem;

  .social {
    @include global.hover-focus-active {
      color: colors.$primary;
      svg {
        fill: colors.$accent;
      }
    }
  }
}