@use '/styles/colors.scss' as colors;

.home {
  background-color: transparent;
  width: 67rem;
  height: 41rem;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.cardInner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.cardFront, .cardBack {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  background-color: colors.$pink;
  padding: 5rem;
  border-radius: 1rem;
  box-shadow: 8px 8px 15px 0px grey;
}

.button {
  display: block;
  color: #34495e;
  margin-block: 2rem;
  margin-inline: auto;
  padding: 1rem;
  cursor: pointer;
  font-size: 2rem;
  font-weight: 600;
  border-width: 3px;
  border-radius: 1rem;
}