.container {
  display: flex;
  gap: 3rem;
  align-items: center;
  justify-content: center;

  .pic {
    border-radius: 50%;
    border: #3b4c58 solid 2px;
  }
  
  .content {
    max-width: 25rem;

    .description {
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }
  }
}