.pic {
  height: 20vh;
  width: 20vh;
  border-radius: 50%;
  border: #3b4c58 solid 4px;
  margin: 20px;
}

.socials {
  display: flex;
  justify-content: center;
  min-width: 100vw;
  margin: 10px;
}

.icon {
  margin: 15px;
}

.box {
  overflow-y: scroll
}

.nextPage {
  width: 30vw;
  border-radius: 20px;
  box-shadow: #3b4c58;
}

.nav {
  position: sticky;
  top: 0;
  width: 100vw;
  z-index: 2;
}

.image {
  border-radius: 10px;
}

.topPage {
  -webkit-transform: scaleY(-1);
  transform: scaleY(-1);
}