.cover {
  background-attachment: fixed;
  background-size: cover;
}

.nav {
  min-height: 10vh;
}

.logo {
  height: 5vh;
  padding: 2px;
}

.pic {
  border-radius: 50%;
  height: 20vh;
  width: 20vh;
  border: black solid 4px;
  margin: 20px;
}

.header {
  padding: 20px;
}

.intro {
  min-height: 45vh;
}

.socials {
  display: flex;
  justify-content: center;
  min-width: 100vw;
  margin: 10px;
}

.icon {
  margin: 15px;
}

.info {
  min-height: 30vh;
  border: solid 2px black;
  margin: 10px;
}

.projectIcon {
  border-radius: 20%;
}

.projectContainer {
  min-height: 65vh;
}